@model LaboratorioArlissonMenacho.Models.PlanoDeSaude

@{
    ViewData["Title"] = "Excluir";
}

<h2>Excluir</h2>

<h3>Tem certeza que quer excluir ?</h3>

<div>
    <form method="post">
        <input type="number" name="PlanoDeSaudeId" value="@Model.PlanoDeSaudeId" hidden />
        <div class="form-group">
            <label>Razão Social:</label>
            <span>@Model.RazaoSocial</span>
        </div>
        <div class="form-group">
            <label>Descrição:</label>
            <span>@Model.Descricao</span>
        </div>

        <div class="form-group">
            <button type="submit" name="Excluir" value="Excluir" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i>Apagar</button>
        </div>
    </form>

    <form asp-action="Excluir">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
