@model Montadora_Arlisson_Menacho.Models.Cidade

@{
    ViewData["Title"] = "Excluir";
}

<h2>Exclusão de Cidade</h2>

<h3>Tem certeza que deseja excluir essa cidade?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">       
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
    
    <form asp-action="Excluir">
        <input type="submit" value="Excluir" class="btn btn-default" />
    </form>
</div>
